<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :employee_type %>
    <%= form.select(:employee_type,[["Admin",1],["Manager",2],["Staff",3]], {}, {:class => "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class:"form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-secondary" %>
  </div>
<% end %>
