<div class="jumbotron">
  <h1 class="display-4"><%= @employee.last_name %>, <%= @employee.first_name %></h1>
  <p class="lead">
    <%= @employee.employee_type %>
  </p>
  <p>
    <%= @employee.email %> | <%= @employee.contact %>
  </p>
  <p>
    <%= @employee.address %>
  </p>
  <%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-secondary text-white" %>
  <%= link_to 'Back', employees_path, class:"btn btn-dark text-white" %>
</div>
